<nav id="main_nav" role="navigation">
  <ul>
      <li><%= link_to "Home", root_path%> </li>
      <li><%= link_to "Players", players_path%> </li>
      <li><%= link_to "Investors", investors_path%> </li>
      <li><%= link_to "About Us", about_us_path%> </li>
      
  </ul>
</nav>